@{
    ViewBag.Title = LanguageHelper.GetValue("PageForgetPasswordTitle");
}
<div class="row row--grid">
    <!-- breadcrumb -->
    <div class="col-12">
        <ul class="breadcrumb">
            <li class="breadcrumb__item"><a href="@(LanguageHelper.CurrentLanguage == LanguageHelper.DefaultLanguage ? "/" : "/" + LanguageHelper.CurrentLanguage)">@LanguageHelper.GetValue("HomePage")</a></li>
            <li class="breadcrumb__item breadcrumb__item--active">@LanguageHelper.GetValue("PageForgetPasswordTitle")</li>
        </ul>
    </div>
    <!-- end breadcrumb -->
    <!-- sign in -->
    <div class="col-12">
        <div class="sign">
            <div class="sign__content">
                <!-- authorization form -->
                <form action="/member/forget-password" class="sign__form" data-js="forgetpass-form" method="post">
                    @Html.AntiForgeryToken()
                    <a href="index.html" class="sign__logo">
                        <img src="/Content/img/logo.png" alt="">
                    </a>
                    @if (!String.IsNullOrEmpty(ViewBag.Message))
                    {
                        <p>@ViewBag.Message</p>
                    }
                    <div class="w-100" data-js="forgetpass-message"></div>
                    <div class="sign__group">
                        @Html.TextBox("Email", null, new { @class = "sign__input", @placeholder = LanguageHelper.GetValue("FormEmail") })
                    </div>
                    <button class="sign__btn" type="button" data-js="button-forgetpass">@LanguageHelper.GetValue("ButtonSend")</button>
                </form>
                <!-- end authorization form -->
            </div>
        </div>
    </div>
    <!-- end sign in -->
</div>
@section preloads{
    @if (SiteVariables.GetState("Production") == "true")
    {
        <link rel="preload" href="@Url.Content("~/Public/js/forget.password.min.js")" as="script">
    }
    else
    {
        <link rel="preload" href="@Url.Content("~/Scripts/views/Member/Forget.Password.js")" as="script">
    }
}
@section scripts{
    @if (SiteVariables.GetState("Production") == "true")
    {
        <script defer async src="@Url.Content("~/Public/js/forget.password.min.js")" type="text/javascript"></script>
    }
    else
    {
        <script defer async src="@Url.Content("~/Scripts/views/Member/Forget.Password.js")" type="text/javascript"></script>
    }
}
