@model HeaderModel
@{
    List<Category> PodcastMenu = Model.Menu.Where(m => m.Type == "Podcast").ToList();
}
<!-- sidebar -->
<div class="sidebar">
    <!-- sidebar logo -->
    <a href="@(LanguageHelper.CurrentLanguage == LanguageHelper.DefaultLanguage ? "/" : "/" + LanguageHelper.CurrentLanguage)" class="sidebar__logo">
        <img src="/Content/img/logo.png" alt="">
    </a>
    <!-- end sidebar logo -->
    <!-- sidebar nav -->
    <ul class="w-100 d-flex flex-column flex-grow-1 sidebar__nav">
        <li class="sidebar__nav-item">
            <a href="@(LanguageHelper.CurrentLanguage == LanguageHelper.DefaultLanguage ? "/" : "/" + LanguageHelper.CurrentLanguage)" class="sidebar__nav-link" id="homepage">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M20,8h0L14,2.74a3,3,0,0,0-4,0L4,8a3,3,0,0,0-1,2.26V19a3,3,0,0,0,3,3H18a3,3,0,0,0,3-3V10.25A3,3,0,0,0,20,8ZM14,20H10V15a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1Zm5-1a1,1,0,0,1-1,1H16V15a3,3,0,0,0-3-3H11a3,3,0,0,0-3,3v5H6a1,1,0,0,1-1-1V10.25a1,1,0,0,1,.34-.75l6-5.25a1,1,0,0,1,1.32,0l6,5.25a1,1,0,0,1,.34.75Z"></path>
                </svg>
                <span>@LanguageHelper.GetValue("HomePage")</span>
            </a>
        </li>
        <!-- collapse -->
        <li class="sidebar__nav-item">
            <a class="sidebar__nav-link collapsed" data-bs-toggle="collapse" href="#podcast-menu" role="button" aria-expanded="false" aria-controls="podcast-menu" id="podcast">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12,15a4,4,0,0,0,4-4V5A4,4,0,0,0,8,5v6A4,4,0,0,0,12,15ZM10,5a2,2,0,0,1,4,0v6a2,2,0,0,1-4,0Zm10,6a1,1,0,0,0-2,0A6,6,0,0,1,6,11a1,1,0,0,0-2,0,8,8,0,0,0,7,7.93V21H9a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2H13V18.93A8,8,0,0,0,20,11Z"></path>
                </svg> <span>@LanguageHelper.GetValue("Podcast")</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z" />
                </svg>
            </a>

            <div class="collapse" id="podcast-menu">
                <ul class="sidebar__menu sidebar__menu--scroll flex-grow-1">
                    <li>
                        <a href="/@LanguageHelper.GetValue("UrlTypePodcast")">@LanguageHelper.GetValue("AllPodcast")</a>
                    </li>
                    @foreach (var menu in PodcastMenu)
                    {
                        <li>
                            <a href="/@Html.Raw(LanguageHelper.GetValue("UrlTypePodcast") + "?category=" + menu.Url)">@menu.Title</a>
                        </li>
                    }
                </ul>
            </div>
        </li>
        <!-- end collapse -->

        <li class="sidebar__nav-item">
            <a href="/@LanguageHelper.GetValue("UrlTypeBlog")" class="sidebar__nav-link" id="blog">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M16,14H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Zm0-4H10a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2Zm4-6H17V3a1,1,0,0,0-2,0V4H13V3a1,1,0,0,0-2,0V4H9V3A1,1,0,0,0,7,3V4H4A1,1,0,0,0,3,5V19a3,3,0,0,0,3,3H18a3,3,0,0,0,3-3V5A1,1,0,0,0,20,4ZM19,19a1,1,0,0,1-1,1H6a1,1,0,0,1-1-1V6H7V7A1,1,0,0,0,9,7V6h2V7a1,1,0,0,0,2,0V6h2V7a1,1,0,0,0,2,0V6h2Z" />
                </svg>
                <span>@LanguageHelper.GetValue("Blog")</span>
            </a>
        </li>

        <li class="d-sm-none sidebar__nav-item">
            <a href="/@LanguageHelper.GetValue("UrlTypeAds")" class="sidebar__nav-link" id="ads">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M21.65,2.24a1,1,0,0,0-.8-.23l-13,2A1,1,0,0,0,7,5V15.35A3.45,3.45,0,0,0,5.5,15,3.5,3.5,0,1,0,9,18.5V10.86L20,9.17v4.18A3.45,3.45,0,0,0,18.5,13,3.5,3.5,0,1,0,22,16.5V3A1,1,0,0,0,21.65,2.24ZM5.5,20A1.5,1.5,0,1,1,7,18.5,1.5,1.5,0,0,1,5.5,20Zm13-2A1.5,1.5,0,1,1,20,16.5,1.5,1.5,0,0,1,18.5,18ZM20,7.14,9,8.83v-3L20,4.17Z"></path>
                </svg>
                <span>@LanguageHelper.GetValue("PageAdsTitle")</span>
            </a>
        </li>

        <li class="d-sm-none sidebar__nav-item">
            <a href="/@LanguageHelper.GetValue("UrlTypeAboutUs")" class="sidebar__nav-link" id="ads">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M19,5.5H12.72l-.32-1a3,3,0,0,0-2.84-2H5a3,3,0,0,0-3,3v13a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V8.5A3,3,0,0,0,19,5.5Zm1,13a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V5.5a1,1,0,0,1,1-1H9.56a1,1,0,0,1,.95.68l.54,1.64A1,1,0,0,0,12,7.5h7a1,1,0,0,1,1,1Z"></path>
                </svg>
                <span>@LanguageHelper.GetValue("PageAboutUsTitle")</span>
            </a>
        </li>

        <li class="d-sm-none sidebar__nav-item">
            <a href="/@LanguageHelper.GetValue("UrlTypeFaq")" class="sidebar__nav-link" id="ads">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12,2A10,10,0,1,0,22,12,10.01114,10.01114,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.00917,8.00917,0,0,1,12,20Zm0-8.5a1,1,0,0,0-1,1v3a1,1,0,0,0,2,0v-3A1,1,0,0,0,12,11.5Zm0-4a1.25,1.25,0,1,0,1.25,1.25A1.25,1.25,0,0,0,12,7.5Z"></path>
                </svg>
                <span>@LanguageHelper.GetValue("PageFaqTitle")</span>
            </a>
        </li>

        <li class="d-sm-none sidebar__nav-item">
            <a href="/@LanguageHelper.GetValue("UrlTypeContactUs")" class="sidebar__nav-link" id="ads">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12.3,12.22A4.92,4.92,0,0,0,14,8.5a5,5,0,0,0-10,0,4.92,4.92,0,0,0,1.7,3.72A8,8,0,0,0,1,19.5a1,1,0,0,0,2,0,6,6,0,0,1,12,0,1,1,0,0,0,2,0A8,8,0,0,0,12.3,12.22ZM9,11.5a3,3,0,1,1,3-3A3,3,0,0,1,9,11.5Zm9.74.32A5,5,0,0,0,15,3.5a1,1,0,0,0,0,2,3,3,0,0,1,3,3,3,3,0,0,1-1.5,2.59,1,1,0,0,0-.5.84,1,1,0,0,0,.45.86l.39.26.13.07a7,7,0,0,1,4,6.38,1,1,0,0,0,2,0A9,9,0,0,0,18.74,11.82Z"></path>
                </svg>
                <span>@LanguageHelper.GetValue("PageContactUsTitle")</span>
            </a>
        </li>
    </ul>
    <!-- end sidebar nav -->
</div>
<!-- end sidebar -->
<!-- player -->
@*@if (Model.Podcast.Trailer != null)
{
    string thumbnail = string.IsNullOrEmpty(Model.Podcast.Thumbnail) ? Model.Podcast.Thumbnail : "/Content/img/theme/covers/cover.svg";
    <div class="player">
        <div class="player__cover">
            <a href="@LanguageMethods.GetLanguageUrl("UrlTypePodcast", Model.Podcast.Url)" id="recent-podcast">
                <img src="@thumbnail" alt="@Model.Podcast.Title">
            </a>
        </div>
        <div class="player__content">
            <span class="player__track"><b class="player__title">@Model.Podcast.Title</b></span>
            <audio src="@Model.Podcast.Trailer" id="audio" controls></audio>
        </div>
    </div>
    <button class="player__btn" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M21.65,2.24a1,1,0,0,0-.8-.23l-13,2A1,1,0,0,0,7,5V15.35A3.45,3.45,0,0,0,5.5,15,3.5,3.5,0,1,0,9,18.5V10.86L20,9.17v4.18A3.45,3.45,0,0,0,18.5,13,3.5,3.5,0,1,0,22,16.5V3A1,1,0,0,0,21.65,2.24ZM5.5,20A1.5,1.5,0,1,1,7,18.5,1.5,1.5,0,0,1,5.5,20Zm13-2A1.5,1.5,0,1,1,20,16.5,1.5,1.5,0,0,1,18.5,18ZM20,7.14,9,8.83v-3L20,4.17Z" />
        </svg> Player
    </button>
}*@
<!-- end player -->