@model AdminSlideViewModel
@{
    ViewBag.Title = LanguageHelper.GetValue("AdminCarousel");
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            @LanguageHelper.GetValue("AdminCarousel")
        </h3>
        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="/dashboard" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link">
                @LanguageHelper.GetValue("AdminCarousel")
            </span>
        </div>
    </div>
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            <a href="/dashboard" class="btn btn-clean btn-bold btn-sm btn-icon-h kt-margin-l-10">
                <i class="la la-long-arrow-left"></i> @LanguageHelper.GetValue("AdminBack")
            </a>
            <a href="/new-slide" class="btn btn-label-success btn-bold btn-sm btn-icon-h kt-margin-l-10">
                <i class="flaticon2-plus"></i> @LanguageHelper.GetValue("AdminAddNew")
            </a>
        </div>
    </div>
</div>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="kt-portlet mb-0">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon-list-3"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @LanguageHelper.GetValue("AdminCarousel")
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Search..." id="search">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label">
                                        <label>@LanguageHelper.GetValue("FormLanguage"):</label>
                                    </div>
                                    <div class="kt-form__control">
                                        <div class="dropdown bootstrap-select form-control">
                                            <select class="form-control bootstrap-select" id="kt_form_language">
                                                <option value="">@LanguageHelper.GetValue("ButtonAll")</option>
                                                @foreach (var language in Model.Languages)
                                                {
                                                    <option value="@language.Prefix">@language.Title</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">
            <div class="kt-datatable" id="slides"></div>
        </div>
    </div>
</div>
@section scripts{
    <script defer src="@Url.Content("~/Scripts/views/Admin/Slide.js")"></script>
}