@model PostModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row--grid">
    <!-- breadcrumb -->
    <div class="col-12">
        <ul class="breadcrumb">
            <li class="breadcrumb__item"><a href="@(LanguageHelper.CurrentLanguage == LanguageHelper.DefaultLanguage ? "/" : "/" + LanguageHelper.CurrentLanguage)">@LanguageHelper.GetValue("HomePage")</a></li>
            <li class="breadcrumb__item"><a href="/@LanguageHelper.GetValue("UrlTypePodcast")">@LanguageHelper.GetValue("PagePodcastTitle")</a></li>
            <li class="breadcrumb__item breadcrumb__item--active">@Model.Title</li>
        </ul>
    </div>
    <!-- end breadcrumb -->
    <!-- title -->
    <div class="col-12 article">
        <div class="article__content">
            @if (!string.IsNullOrEmpty(Model.Banner))
            {
                <img src="@Model.Banner" alt="@Model.Title">
            }
        </div>
        <div class="main__title main__title--page">
            <h1>@Model.Title</h1>
        </div>
    </div>

    <div class="col-12">
        <div class="article">
            <!-- article content -->
            <div class="article__content">
                @Html.Raw(Model.Content)
            </div>
            <!-- end article content -->
            @if (!string.IsNullOrEmpty(Model.Trailer))
            {
                <div class="article__content mt-4 mt-lg-5 mb-3">
                    <h4>@LanguageHelper.GetValue("FormTrailer")</h4>
                    <audio controls class="w-100">
                        <source src="@Model.Trailer" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            }
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.Spotify) && !string.IsNullOrEmpty(Model.ApplePodcasts) && !string.IsNullOrEmpty(Model.Deezer) && !string.IsNullOrEmpty(Model.GooglePodcasts))
    {
        <div class="col-12 podcast-providers">
            <div class="row">
                @if (!string.IsNullOrEmpty(Model.Spotify))
                {
                    <div class="col">
                        <a href="@Model.Spotify" target="_blank" title="Spotify">
                            <img src="@Url.Content("~/Content/img/spotify.png")" alt="Spotify" />
                        </a>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.ApplePodcasts))
                {
                    <div class="col">
                        <a href="@Model.ApplePodcasts" target="_blank" title="Apple Podcasts">
                            <img src="@Url.Content("~/Content/img/apple-podcast.png")" alt="Apple Podcasts" />
                        </a>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.Deezer))
                {
                    <div class="col">
                        <a href="@Model.Deezer" target="_blank" title="Deezer">
                            <img src="@Url.Content("~/Content/img/deezer.png")" alt="Deezer" />
                        </a>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.GooglePodcasts))
                {
                    <div class="col">
                        <a href="@Model.GooglePodcasts" target="_blank" title="Google Podcasts">
                            <img src="@Url.Content("~/Content/img/google-podcasts.png")" alt="Google Podcasts" />
                        </a>
                    </div>
                }
            </div>
        </div>
    }

    <div class="col-12">
        @if (!string.IsNullOrEmpty(Model.IFrame))
        {
            <div class="release iframe">
                <div class="position-relative w-100 d-flex iframe-container">
                    <iframe class="position-absolute w-100 h-100" src="@Model.IFrame" scrolling="no"></iframe>
                    @*@Html.Raw(Model.IFrame)*@
                </div>
            </div>
        }
        <div class="article">
            <div class="share">
                <a href="https://www.facebook.com/sharer.php?u=@Request.Url&t=@Model.Title" target="_blank" title="@Model.Title" class="share__link share__link--fb" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;">
                    <svg width="9" height="17" viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.56341 16.8197V8.65888H7.81615L8.11468 5.84663H5.56341L5.56724 4.43907C5.56724 3.70559 5.63693 3.31257 6.69042 3.31257H8.09873V0.5H5.84568C3.1394 0.5 2.18686 1.86425 2.18686 4.15848V5.84695H0.499939V8.6592H2.18686V16.8197H5.56341Z" />
                    </svg> @LanguageHelper.GetValue("Share").ToLower()
                </a>
                <a href="https://twitter.com/share?url=@Request.Url&title=@Model.Title" target="_blank" title="@Model.Title" class="share__link share__link--tw" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;">
                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.55075 3.19219L7.58223 3.71122L7.05762 3.64767C5.14804 3.40404 3.47978 2.57782 2.06334 1.1902L1.37085 0.501686L1.19248 1.01013C0.814766 2.14353 1.05609 3.34048 1.843 4.14552C2.26269 4.5904 2.16826 4.65396 1.4443 4.38914C1.19248 4.3044 0.972149 4.24085 0.951164 4.27263C0.877719 4.34677 1.12953 5.31069 1.32888 5.69202C1.60168 6.22165 2.15777 6.74068 2.76631 7.04787L3.28043 7.2915L2.67188 7.30209C2.08432 7.30209 2.06334 7.31268 2.12629 7.53512C2.33613 8.22364 3.16502 8.95452 4.08833 9.2723L4.73884 9.49474L4.17227 9.8337C3.33289 10.321 2.34663 10.5964 1.36036 10.6175C0.888211 10.6281 0.5 10.6705 0.5 10.7023C0.5 10.8082 1.78005 11.4014 2.52499 11.6344C4.75983 12.3229 7.41435 12.0264 9.40787 10.8506C10.8243 10.0138 12.2408 8.35075 12.9018 6.74068C13.2585 5.88269 13.6152 4.315 13.6152 3.56293C13.6152 3.07567 13.6467 3.01212 14.2343 2.42953C14.5805 2.09056 14.9058 1.71983 14.9687 1.6139C15.0737 1.41264 15.0632 1.41264 14.5281 1.59272C13.6362 1.91049 13.5103 1.86812 13.951 1.39146C14.2762 1.0525 14.6645 0.438131 14.6645 0.258058C14.6645 0.22628 14.5071 0.279243 14.3287 0.374576C14.1398 0.480501 13.7202 0.639389 13.4054 0.734722L12.8388 0.914795L12.3247 0.565241C12.0414 0.374576 11.6427 0.162725 11.4329 0.0991699C10.8978 -0.0491255 10.0794 -0.0279404 9.59673 0.14154C8.2852 0.618204 7.45632 1.84694 7.55075 3.19219Z" />
                    </svg> tweet
                </a>
                <a href="mailto:enteryour@addresshere.com?subject=@Model.Title&body=Check%20this%20out:@Request.Url" class="share__link share__link--mail">
                    <svg width="20" height="15" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M256 352c-16.53 0-33.06-5.422-47.16-16.41L0 173.2V400C0 426.5 21.49 448 48 448h416c26.51 0 48-21.49 48-48V173.2l-208.8 162.5C289.1 346.6 272.5 352 256 352zM16.29 145.3l212.2 165.1c16.19 12.6 38.87 12.6 55.06 0l212.2-165.1C505.1 137.3 512 125 512 112C512 85.49 490.5 64 464 64h-416C21.49 64 0 85.49 0 112C0 125 6.01 137.3 16.29 145.3z" />
                    </svg> @LanguageHelper.GetValue("SendEMail")
                </a>
                <a href="https://pinterest.com/pin/create/button/?url=@Request.Url&media=@Model.Thumbnail&description=@Model.Title" target="_blank" title="@Model.Title" class="share__link share__link--pin" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;">
                    <svg width="20" height="15" viewBox="0 0 384 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M204 6.5C101.4 6.5 0 74.9 0 185.6 0 256 39.6 296 63.6 296c9.9 0 15.6-27.6 15.6-35.4 0-9.3-23.7-29.1-23.7-67.8 0-80.4 61.2-137.4 140.4-137.4 68.1 0 118.5 38.7 118.5 109.8 0 53.1-21.3 152.7-90.3 152.7-24.9 0-46.2-18-46.2-43.8 0-37.8 26.4-74.4 26.4-113.4 0-66.2-93.9-54.2-93.9 25.8 0 16.8 2.1 35.4 9.6 50.7-13.8 59.4-42 147.9-42 209.1 0 18.9 2.7 37.5 4.5 56.4 3.4 3.8 1.7 3.4 6.9 1.5 50.4-69 48.6-82.5 71.4-172.8 12.3 23.4 44.1 36 69.3 36 106.2 0 153.9-103.5 153.9-196.8C384 71.3 298.2 6.5 204 6.5z" />
                    </svg> pin it
                </a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=@Request.Url&title=@Model.Title" target="_blank" title="@Model.Title" class="share__link share__link--li" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;">
                    <svg width="20" height="15" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" />
                    </svg> linkedin
                </a>
            </div>
            <!-- end share -->
        </div>
    </div>
</div>
<script type="text/javascript">
    var type = "PodcastDetail";
</script>
@section scripts{
    <script defer type="text/javascript">
        window.onload = function () {
            $('#podcast').addClass('sidebar__nav-link--active');
        }
    </script>
}