@model List<PostModel>
@{
    Layout = null;
    string langUrl = (LanguageHelper.CurrentLanguage == LanguageHelper.DefaultLanguage ? "/" : "/" + LanguageHelper.CurrentLanguage + "/") + LanguageHelper.GetValue("UrlTypePodcast");
}
@if (Model.Count > 0)
{
    foreach (var podcast in Model)
    {
        string image = !string.IsNullOrEmpty(podcast.Thumbnail) ? podcast.Thumbnail : podcast.Banner;
        <div class="col-6 col-sm-4 col-lg-3">
            <div class="album">
                <a href="@langUrl/@podcast.Url" class="album__cover" title="@podcast.Title">
                    <img src="@image" alt="@podcast.Title">
                </a>
                <div class="album__title">
                    <h3>
                        <a href="@langUrl/@podcast.Url" title="@podcast.Title">@podcast.Title</a>
                    </h3>
                </div>
            </div>
        </div>
    }
}