@model List<BlogModel>
@{
    Layout = null;
    string langUrl = (LanguageHelper.CurrentLanguage == LanguageHelper.DefaultLanguage ? "/" : "/" + LanguageHelper.CurrentLanguage + "/") + LanguageHelper.GetValue("UrlTypeBlog");
}
@if (Model.Count > 0)
{
    foreach (var blog in Model)
    {
        string image = !string.IsNullOrEmpty(blog.Thumbnail) ? blog.Thumbnail : blog.Banner;
        <div class="col-12 col-sm-6 col-lg-4" data-js="blog-item" data-category-id="@blog.CategoryID">
            <div class="post">
                <a href="@langUrl/@blog.Url" class="post__img" title="@blog.Title">
                    <img src="@image" alt="@blog.Title">
                </a>
                <div class="post__content">
                    <span class="post__category">@blog.Category</span>
                    <h3 class="post__title">
                        <a href="@langUrl/@blog.Url" title="@blog.Title">
                            @blog.Title
                        </a>
                    </h3>
                    <div class="post__meta">
                        <span class="post__date">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M12,2A10,10,0,1,0,22,12,10.01114,10.01114,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.00917,8.00917,0,0,1,12,20ZM14.09814,9.63379,13,10.26807V7a1,1,0,0,0-2,0v5a1.00025,1.00025,0,0,0,1.5.86621l2.59814-1.5a1.00016,1.00016,0,1,0-1-1.73242Z" />
                            </svg> @blog.CreateDate.ToShortDateString()
                        </span>
                        <span class="post__comments">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M17,9H7a1,1,0,0,0,0,2H17a1,1,0,0,0,0-2Zm-4,4H7a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2ZM12,2A10,10,0,0,0,2,12a9.89,9.89,0,0,0,2.26,6.33l-2,2a1,1,0,0,0-.21,1.09A1,1,0,0,0,3,22h9A10,10,0,0,0,12,2Zm0,18H5.41l.93-.93a1,1,0,0,0,0-1.41A8,8,0,1,1,12,20Z"></path>
                            </svg> @blog.CommentCount
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
}
<div class="@(Model.Count > 0 ? "col-12 d-none" : "col-12")" data-js="no-record">
    <div class="page-404">
        <div class="page-404__wrap">
            <div class="page-404__content">
                <p class="page-404__text@(Model.Count > 0 ? " mb-0" : "")">@LanguageHelper.GetValue("NoRecordFound")</p>
                @if (Model.Count <= 0)
                {
                    <a href="@(LanguageHelper.CurrentLanguage == LanguageHelper.DefaultLanguage ? "/" : "/" + LanguageHelper.CurrentLanguage)" class="page-404__btn">@LanguageHelper.GetValue("HomePage")</a>
                }
            </div>
        </div>
    </div>
</div>
