@model List<AdminLatestPostModel>
@{
    Layout = null;
    string langUrl = (LanguageHelper.CurrentLanguage == LanguageHelper.DefaultLanguage ? "/" : "/" + LanguageHelper.CurrentLanguage + "/") + LanguageHelper.GetValue("UrlTypePodcast");
}
@if (Model.Count > 0)
{
    foreach (var podcast in Model.OrderByDescending(e => e.UpdateDate))
    {
        <div class="col-12 col-sm-6 col-lg-4" data-js="podcast-item">
            <div class="live">
                <a href="@langUrl/@podcast.Url" class="live__cover" title="@podcast.Title">
                    <img src="@podcast.Thumbnail" alt="@podcast.Title">
                    @*<span class="live__status">live</span>
                        <span class="live__value">@podcast.VisitCount viewers</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"></path>
                        </svg>*@
                </a>
                <h3 class="live__title">
                    <a href="@langUrl/@podcast.Url" title="@podcast.Title">
                        @podcast.Title
                    </a>
                </h3>
            </div>
        </div>
    }
}
<div class="@(Model.Count > 0 ? "col-12 d-none" : "col-12")" data-js="no-record">
    <div class="page-404">
        <div class="page-404__wrap">
            <div class="page-404__content">
                <p class="page-404__text@(Model.Count > 0 ? " mb-0" : "")">@LanguageHelper.GetValue("NoRecordFound")</p>
                @if (Model.Count <= 0)
                {
                    <a href="@(LanguageHelper.CurrentLanguage == LanguageHelper.DefaultLanguage ? "/" : "/" + LanguageHelper.CurrentLanguage)" class="page-404__btn">@LanguageHelper.GetValue("HomePage")</a>
                }
            </div>
        </div>
    </div>
</div>
